.header__container {
	padding-top: 16px;
	padding-bottom: 17px;
	border-bottom: 1px solid #bfbdb2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__navigation {
	/* flex-grow: 1; */
	margin-left: auto;
	margin-right: 54px;
}

@media (max-width: 768px) {
	.header__navigation {
		display: none;
	}
}
